{
    "extends": "eslint:recommended",
    "root": true,
    "rules": {
        "indent": ["error", 4],
        "no-undef": 0,
        "no-console": ["error", { "allow": ["log", "warn", "error", "info", "table"] }]
    },
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    }
}
